{% extends "template.html" %}

{% block title %}
    Group: {{ group.group_name }}
{% endblock %}

{% block body %}
    <h1>Group: {{ group.group_name }}</h1> 

    <br>

    {% if message %}
        <div>
            {{ message }}
        </div>
    {% endif %}
    {% if member_in_group %}
        <form action="{% url 'submit_post' group.id %}" method="post">
            {% csrf_token %}
            <input name="post_text" type="text"/>
            <input type="submit" value="Post" />
        </form>
    {% endif %}

    <h2>Posts:</h2>
    <ul>
        {% for post in posts %}
            <li>
                {{ post.text }}
                <br>
                Posted by: {{ post.author }}
            </li>
        {% endfor %}
    </ul>

    <h2>Members:</h2>
    <ul>
        {% for member in members %}
            <li>
                {{ member.username }}
            </li>
        {% endfor %}
    </ul>
    
    {% if member_in_group %}
        <div><i> You are a member of this group. Hence, you're seeing the decrypted post text. :)</i></div>
    {% else %}
        <div><i> You are not a member of this group. Hence, you're seeing the cipher text instead of the original post text. :(</i></div>
    {% endif %}

{% endblock %}
